# Chap6-1  DataFrame loc,iloc
### DataFrame比numpy ndarry(element-wise)提供資料統整ㄉ功能
### DataFrame通常為2維資料
### 橫ㄉ為列(索引index),直ㄉ為欄(columns)

In [1]:
# 隨機產生DataFrame資料
import numpy as np
import pandas as pd
frame= pd.DataFrame(np.random.rand(4,4),index=list('abcd'),columns=list('ABCD'))
frame

          A         B         C         D
a  0.611467  0.677082  0.984636  0.050183
b  0.089919  0.453836  0.305123  0.138516
c  0.235477  0.275307  0.613440  0.471102
d  0.271455  0.222742  0.834587  0.729874

In [2]:
frame.describe()    #dexcribe描述

              A         B         C         D
count  4.000000  4.000000  4.000000  4.000000
mean   0.302079  0.407242  0.684446  0.347419
std    0.220686  0.205290  0.295288  0.312815
min    0.089919  0.222742  0.305123  0.050183
25%    0.199087  0.262166  0.536361  0.116433
50%    0.253466  0.364572  0.724013  0.304809
75%    0.356458  0.509648  0.872099  0.535795
max    0.611467  0.677082  0.984636  0.729874

### loc 用欄位來找出DataFrameㄉ資料
### iloc用索引來定位DataFrameㄉ資料
### .loc用[列,欄]來定位資料，中間用,分隔

In [3]:
frame.loc['a','A']

0.6114669690690223

In [6]:
# 取前兩列ㄉ對應資料
frame.loc['a':'b',:]   # :就是取?邊到?邊ㄉ
                       #frame就等於frame.loc[:,:]

          A         B         C         D
a  0.611467  0.677082  0.984636  0.050183
b  0.089919  0.453836  0.305123  0.138516

In [7]:
# 取前2欄ㄉ對應資料
frame.loc[:,'A':'B']

          A         B
a  0.611467  0.677082
b  0.089919  0.453836
c  0.235477  0.275307
d  0.271455  0.222742

In [9]:
# 取特殊列、欄ㄉ資料
print(frame.loc[['a','c'],:])
print(frame.loc[:,['A','C']])
print(frame.loc[['a','d'],['A','D']])

          A         B         C         D
a  0.611467  0.677082  0.984636  0.050183
c  0.235477  0.275307  0.613440  0.471102
          A         C
a  0.611467  0.984636
b  0.089919  0.305123
c  0.235477  0.613440
d  0.271455  0.834587
          A         D
a  0.611467  0.050183
d  0.271455  0.729874

### iloc是利用索引與欄索引進行資料定位,都是從0開始

In [11]:
frame.iloc[0,0]

0.6114669690690223

In [13]:
# 取前2列ㄉ資料
frame.iloc[0:2,:]   #0:2 前面包含(0)  後面不包含(2)

          A         B         C         D
a  0.611467  0.677082  0.984636  0.050183
b  0.089919  0.453836  0.305123  0.138516

In [15]:
# 取特殊列、欄ㄉ資料
print(frame.iloc[[0,2],:])
print(frame.iloc[:,[0,2]])
print(frame.iloc[[0,3],[0,3]])

          A         B         C         D
a  0.611467  0.677082  0.984636  0.050183
c  0.235477  0.275307  0.613440  0.471102
          A         C
a  0.611467  0.984636
b  0.089919  0.305123
c  0.235477  0.613440
d  0.271455  0.834587
          A         D
a  0.611467  0.050183
d  0.271455  0.729874